p {
    text-align: center;

}

h1 {
    color: blueviolet;
    text-align: center;

}

h2 {
    text-align: center;
}

strong {
    color: darkblue;
}

.banner{
    width: 100%;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}